<div class="container">
  <div class="row" >
    <div class="col-8" style="position: relative; margin: 0 auto; text-align: center;">
    <h1 class="mt-5" style="font-weight: 700; font-size: 3.25rem; padding-bottom: 56px;">Entrepeneurship</h1>

    </div>
    <div class="col-6">

    <h2 style="padding-top: 24px; padding-bottom: 40px;"> COMMON QUESTIONS ABOUT THE PROGRAMME </h2>
      <h3 > How long is the program?</h3>
      <h3 style="padding-bottom: 32px;"> 4 Weeks </h3>
      <h3 style="padding-bottom: 32px;"> What will I learn?</h3>
      <ul>
      <li> Business Fundamentals </li>
      <li> Soft skills for workplace interaction </li>
      <li> Money management</li>
      <li> Good business practices</li>

    </ul >
      <h3 style="padding-bottom: 32px; padding-top:32px;"> How will this empower me?</h3>
            <ul>
      <li> Gain new skills and knowledge </li>
      <li>You are one step closer to being capable of running your dream business. </li>
      <li>Improve the efficiency of your already existing business.</li>
      <li style="padding-bottom: 56px;"> Employ yourself and become less dependent on others for your income </li>

    </ul>

    </div>


    <div class="col-6">

    <h2 style="padding-top: 24px; padding-bottom: 40px;"> FREE ENTREPENEURSHIP RESOURCES </h2>

    <h3 class="my-5" style="padding-top: 16px;"> Guidelines and tips for entrepeneurs</h3>
<%= link_to "https://media1-production.mightynetworks.com/asset/4483247/Harvard_Business_Review_Entrepreneur_s_Handbook.pdf", target: :blank do%>
<div><%= image_tag "hbr.png" %> </div>
<% end %>

<%= link_to "https://www.efmdglobal.org/wp-content/uploads/The-Entrepreneurs-Guide-to-Building-a-Successful-Business-2017.pdf", target: :blank do%>
<div style="padding-top: 40px;"><%= image_tag "ent.png" %> </div>
<% end %>

<h3 style="padding-top:40px;"> Free online Entrepeneurship courses </h3>
<%= link_to "https://alison.com/courses/entrepreneurship", target: :blank do%>
<div style="padding-top: 40px; "><%= image_tag "alison.png", class: "black-back" %> </div>
<% end %>

    </div>


  </div>
</div>
